<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CADisableMinimumFrameDurationOnPhone</key>
		<true/>
		<key>CFBundleDevelopmentRegion</key>
		<string>$(DEVELOPMENT_LANGUAGE)</string>
		<key>CFBundleDisplayName</key>
		<string>100 timer</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>100 Timer</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>$(FLUTTER_BUILD_NAME)</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleVersion</key>
		<string>$(FLUTTER_BUILD_NUMBER)</string>
		<key>GADApplicationIdentifier</key>
		<string>ca-app-pub-9503898094962699~9968767009</string>
		<key>LSApplicationQueriesSchemes</key>
		<array>
			<string>https</string>
		</array>
		<key>LSRequiresIPhoneOS</key>
		<true/>
		<key>NSMicrophoneUsageDescription</key>
		<string>이 앱은 알림음을 위해 마이크 권한이 필요합니다</string>
		<key>NSNotificationCenterUsageDescription</key>
		<string>타이머 진행 상황과 완료를 알려드리기 위해 알림 센터 권한이 필요합니다</string>
		<key>NSUserNotificationUsageDescription</key>
		<string>타이머 진행 상황을 알려드리기 위해 알림 권한이 필요합니다.</string>
		<key>NSPhotoLibraryUsageDescription</key>
		<string>사진을 저장하기 위해 사진 라이브러리 접근이 필요합니다.</string>
		<key>NSPhotoLibraryAddUsageDescription</key>
		<string>스크린샷을 사진첩에 저장하기 위해 사진 접근 권한이 필요합니다.</string>
		<key>UIApplicationSupportsIndirectInputEvents</key>
		<true/>
		<key>UIBackgroundModes</key>
		<array>
			<string>fetch</string>
			<string>remote-notification</string>
			<string>processing</string>
			<string>audio</string>
		</array>
		<key>UILaunchStoryboardName</key>
		<string>LaunchScreen</string>
		<key>UIMainStoryboardFile</key>
		<string>Main</string>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>UIStatusBarHidden</key>
		<false/>
		<key>BGTaskSchedulerPermittedIdentifiers</key>
		<array>
			<string>com.yourdomain.yourapp.refresh</string>
			<string>com.yourdomain.yourapp.processing</string>
		</array>
		<key>UIDeviceFamily</key>
		<array>
   			<integer>1</integer>
		</array>
		<key>CFBundleURLSchemes</key>
        <array>
            <string>fb725203649963444</string>
        </array>	
	</dict>
</plist>
